In [1]:
# importing required libraries to analyze the housing data

import pandas as pd # "Panel Data" package. used for data manipulationd and analysis
import numpy as np # "Numerical Python" used for dealing with large arrays and perform mathematical operations
import matplotlib.pyplot as plt # visualization library. helps edit figures and graphs for better understanding 
%matplotlib inline 
# using the inline command helps include the graphs directly inside the notebook next to the code. 
import seaborn as sns # based on matplotlib library. Provides a high level interface for drawing attractive figures and 
# graphs

# setting the option to display max no.of rows as it helps view dataframes better
pd.pandas.set_option('display.max_columns', None)

In [2]:
# reading the data (csv file)
RE = pd.read_csv("USA Real Estate.csv")

# shape of data 
print(RE.shape) # ~ 733,000 rows with 12 columns

(733159, 12)

In [3]:
# checking out a glimpse of the dataset

RE.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN