In [3]:
import pandas as pd

In [6]:
RE = pd.read_csv("USA Real Estate.csv")
RE 

# Variables to be formatted: bed, bath (needs to be converted to integer from float); Price can be displayed better with 
# commas; zipcode also needs to be converted to integer format.

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
733154,for_sale,748000.0,4.0,3.0,0.14,"8 Lewis Dr, Bridgewater Twp, NJ, 08807",8 Lewis Dr,Bridgewater Twp,New Jersey,8807.0,NaN,2002-05-16
733155,for_sale,649000.0,4.0,3.0,1.04,"11 Buttonwood Ct, Montgomery Twp, NJ, 08502",11 Buttonwood Ct,Montgomery Twp,New Jersey,8502.0,NaN,1993-11-12
733156,for_sale,300000.0,2.0,2.0,0.02,"387 Rittenhouse Ct, North Brunswick, NJ, 08902",387 Rittenhouse Ct,North Brunswick,New Jersey,8902.0,NaN,2009-07-01
733157,for_sale,499900.0,3.0,3.0,0.28,"21 Tripplet Rd, Franklin Twp, NJ, 08873",21 Tripplet Rd,Franklin Twp,New Jersey,8873.0,2016.0,2005-10-17
733158,for_sale,389000.0,4.0,1.0,0.13,"110 Thompson Ave, Bound Brook, NJ, 08805",110 Thompson Ave,Bound Brook,New Jersey,8805.0,NaN,2018-10-15